.section {
	margin-top: 60px;
}

.container {
	padding: 0 100px;
}

.books {
	margin-bottom: 40px;
}

.title h3 {
	font-weight: 600;
	text-transform: capitalize;
	padding: 18px 0 24px 0;
	font-family: 'Poppins';
}
